.main {
    text-align: left !important;
}

.logo {
    padding: 10px;
    height: 60px;
    margin-bottom: -5px;
}

.person-info-header{
    transform: translateY(15px);
}

.logo-big{
  height: 300px;
  text-align: center;
  margin: auto;
}


@font-face{
  font-family: "fancy-cursive";
  src: url("../fonts/cursive.ttf") format("truetype");
}

.certificate{
  width: 80%;
}





/* (A) FULL SCREEN WRAPPER */
#spinner {
    position: fixed;
    top: 0; left: 0; z-index: 9999;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s;
  }
   
  /* (B) CENTER LOADING SPINNER */
  #spinner img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%);
  }
   
  /* (C) SHOW & HIDE */
  #spinner {
    visibility: hidden;
    opacity: 0;
  }
  #spinner.show {
    visibility: visible;
    opacity: 1;
  }

  pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.st4{
  font-size: 5px !important;
}